---
import MainLayout from '@/layouts/MainLayout.astro'
import IndexHeader from '@/components/astro/IndexHeader.astro'
import IconLogo from '~icons/streamline/ai-generate-music-spark'
import ThemeSelector from '@/components/astro/ThemeSelector.astro'
import Profile from '@/components/astro/Profile.astro'
import type { ISourceOptions } from 'tsparticles-engine'
import Particles from 'astro-particles'
import MusicNote from "../assets/images/music-note.svg";

const options: ISourceOptions = {
  autoPlay: true,
  fullScreen: {
    zIndex: -1,
  },
  particles: {
    shape: {
      type: 'images',
      options: {
        images: {
          src: MusicNote.src,
          width: 500,
          height: 634,
        },
      },
    },
    opacity: {
      value: 0.9, // Set the initial opacity to a lower value
      anim: {
        enable: true,
        opacity_min: 0, // Set the minimum opacity during the animation
        speed: 1, // Set the speed of the fade-in animation
        sync: false,
      },
    },
    size: {
      value: 14,
    },
    number: {
      value: 30,
      density: {
        enable: true,
        value_area: 800,
      },
    },
    move: {
      enable: true,
      speed: 1,
    },
  },
}
interface Props {
  title?: string
}
---

<script>
  import { type Container, type Engine, tsParticles } from "tsparticles-engine";
  // @ts-ignore
  import { loadFull } from "tsparticles";

  // the function name is the parameter passed to the init attribute
  // required
  // @ts-ignore
  window.particlesInit = async function (engine: Engine) {
    await loadFull(engine)
  }

  // the function name is the parameter passed to the loaded attribute
  // optional
  // @ts-ignore
  window.particlesLoaded = function (container: Container) {
    console.log('particlesLoaded callback')
  }
</script>

<MainLayout>
  <IndexHeader slot="header" />

  <Particles id="tsparticles" options={options} init="particlesInit" />

  <div class="flex items-center gap-4 text-5xl">
    <h1 class="font-semibold">About</h1>
  </div>
  <h2 class="m-4 text-2xl font-light max-w-prose">The Hackers Behind Melodius!</h2>
  <div class="flex gap-6 justify-evenly">
    <Profile name="Kari Naga" photo="/src/assets/images/kari.jpg" bio="Hello, my name is Kari and I am a Senior in Computer Engineering. I worked on the setup and integration???" />
    <Profile name="Jai Narayanan" photo="/src/assets/images/sickpfp.jpg" bio="Hi, I am Jai, a Junior in Computer Science. I worked on the UI and functionality for the upload page!" />
    <Profile name="Emily Wu" photo="/src/assets/images/emily.jpg" bio="Hi I'm Emily, a Junior in Robotics with a Minor in CS. I worked on the UI for the main page and the about page!" />
  </div>


</MainLayout>

