---
import MainLayout from '@/layouts/MainLayout.astro'
import IndexHeader from '@/components/astro/IndexHeader.astro'
import IconLogo from '~icons/streamline/ai-generate-music-spark'
import ThemeSelector from '@/components/astro/ThemeSelector.astro'
---

<MainLayout>
  <IndexHeader slot="header" />
  <div class="flex items-center gap-4 text-5xl">
    <IconLogo class="text-cyan-400" />
    <h1 class="font-medium">Melodius</h1>
  </div>
  <ThemeSelector slot="footer" class="ml-auto" />
</MainLayout>