---
import MainLayout from "@/layouts/MainLayout.astro";
import IndexHeader from "@/components/astro/IndexHeader.astro";
import IconLogo from "~icons/streamline/ai-generate-music-spark";
import ThemeSelector from "@/components/astro/ThemeSelector.astro";
import type { ISourceOptions } from "tsparticles-engine";
import Particles from "astro-particles";
import MusicNote from "../assets/images/music-note.svg";

const options: ISourceOptions = {
  autoPlay: true,
  fullScreen: {
    zIndex: -1,
  },
  particles: {
    shape: {
      type: "images",
      options: {
        images: {
          src: MusicNote.src,
          width: 500,
          height: 634,
        },
      },
    },
    opacity: {
      value: 0.9, // Set the initial opacity to a lower value
      anim: {
        enable: true,
        opacity_min: 0, // Set the minimum opacity during the animation
        speed: 1, // Set the speed of the fade-in animation
        sync: false,
      },
    },
    size: {
      value: 14,
    },
    number: {
      value: 30,
      density: {
        enable: true,
        value_area: 800,
      },
    },
    move: {
      enable: true,
      speed: 1,
    },
  },
};
interface Props {
  title?: string;
}
---

<script>
  import { type Container, type Engine, tsParticles } from "tsparticles-engine";
  // @ts-ignore
  import { loadFull } from "tsparticles";

  // the function name is the parameter passed to the init attribute
  // required
  // @ts-ignore
  window.particlesInit = async function (engine: Engine) {
    await loadFull(engine);
  };

  // the function name is the parameter passed to the loaded attribute
  // optional
  // @ts-ignore
  window.particlesLoaded = function (container: Container) {
    console.log("particlesLoaded callback");
  };
</script>
import MainLayout from '@/layouts/MainLayout.astro'
import IndexHeader from '@/components/astro/IndexHeader.astro'
import ThemeSelector from '@/components/astro/ThemeSelector.astro'
import IconLogo from '~icons/streamline/ai-generate-music-spark'
import Card from '@/components/astro/Card.astro'
---

<MainLayout>
  <IndexHeader slot="header" />

  <Particles id="tsparticles" options={options} init="particlesInit" />

  <div class="flex items-center gap-4 text-5xl mt-16">
    <IconLogo class="text-cyan-400" />
    <h1 class="font-semibold">Melodius</h1>
  </div>
  <h2 class="mt-4 text-2xl font-light max-w-prose">The Next Generation Music Creation App</h2>
  <button class="transition-colors mt-4 rounded-full py-32 px-64 text-8xl font-semibold bg-sky-600 hover:bg-sky-700 active:bg-sky-800">Get Started</button>
  <ThemeSelector slot="footer" class="ml-auto" />
  <div class="flex gap-6">
    <Card header="Step 1" body="Upload your music." description="Accepted file formats include .mp3, .mp4, and .wav."/>
    <Card header="Step 2" body="Edit individual tracks." description="We separate the different instruments out so you can finetune the final result."/>
    <Card header="Step 3" body="Enjoy your sheet music!" description="Download and practice your creation."/>  
  </div>

</MainLayout>
