---
import MainLayout from '@/layouts/MainLayout.astro'
import IndexHeader from '@/components/astro/IndexHeader.astro'
import IconLogo from '~icons/streamline/ai-generate-music-spark'
import ThemeSelector from '@/components/astro/ThemeSelector.astro'
import Card from '@/components/astro/Card.astro'
import type { ISourceOptions } from 'tsparticles-engine'
import Particles from 'astro-particles'
import MusicNote from "../assets/images/music-note.svg";

const options: ISourceOptions = {
  autoPlay: true,
  fullScreen: {
    zIndex: -1,
  },
  particles: {
    shape: {
      type: 'images',
      options: {
        images: {
          src: MusicNote.src,
          width: 500,
          height: 634,
        },
      },
    },
    opacity: {
      value: 0.9, // Set the initial opacity to a lower value
      anim: {
        enable: true,
        opacity_min: 0, // Set the minimum opacity during the animation
        speed: 1, // Set the speed of the fade-in animation
        sync: false,
      },
    },
    size: {
      value: 14,
    },
    number: {
      value: 30,
      density: {
        enable: true,
        value_area: 800,
      },
    },
    move: {
      enable: true,
      speed: 1,
    },
  },
}
interface Props {
  title?: string
}
---

<script>
  import { type Container, type Engine, tsParticles } from "tsparticles-engine";
  // @ts-ignore
  import { loadFull } from "tsparticles";

  // the function name is the parameter passed to the init attribute
  // required
  // @ts-ignore
  window.particlesInit = async function (engine: Engine) {
    await loadFull(engine)
  }

  // the function name is the parameter passed to the loaded attribute
  // optional
  // @ts-ignore
  window.particlesLoaded = function (container: Container) {
    console.log('particlesLoaded callback')
  }
</script>

<MainLayout>
  <IndexHeader slot="header" />

  <Particles id="tsparticles" options={options} init="particlesInit" />

  <div class="flex items-center gap-4 text-5xl">
    <span set:html={IconLogo} class="text-cyan-400" />
    <h1 class="font-semibold">Melodius</h1>
  </div>
  <h2 class="mt-4 text-2xl font-light max-w-prose">The Next Generation Audio to Sheet Music Creation App</h2>
  <button
    class="shadow-xl shadow-cyan-900 transition-all ease-in-out duration-500 bg-[length:300%_100%] m-4 text-cyan-100 rounded-full py-4 px-8 text-2xl font-semibold bg-gradient-to-l drop-shadow-lg from-cyan-700 via-sky-400 to-cyan-700 hover:bg-[right_300%] active:shadow-[inset_0_8px_16px_0_rgba(0,255,255,0.8)] hover:shadow-cyan-900 active:from-sky-600 active:to-cyan-800"
    >Get Started</button
  >
  <!-- shadow-[0px_24px_24px_24px_rgba(0,0,0,0.3)] -->
  <ThemeSelector slot="footer" class="ml-auto" />
  <div class="flex gap-6">
    <Card header="Step 1" body="Upload your music." description="Accepted file formats include .mp3 and .wav." />
    <Card
      header="Step 2"
      body="Edit individual tracks."
      description="We separate the different instruments out so you can finetune the result."
    />
    <Card header="Step 3" body="Enjoy your sheet music!" description="Download and practice your creation." />
  </div>
</MainLayout>

<style>
  .btn-hover {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  }
</style>
