---
import MainLayout from '@/layouts/MainLayout.astro'
import IndexHeader from '@/components/astro/IndexHeader.astro'
import IconLogo from '~icons/streamline/ai-generate-music-spark'
import ThemeSelector from '@/components/astro/ThemeSelector.astro'
---

<MainLayout>
  <IndexHeader slot="header" />
  <div class="flex items-center gap-4 text-5xl mt-16">
    <IconLogo class="text-cyan-400" />
    <h1 class="font-semibold">Melodius</h1>
  </div>
  <h2 class="mt-4 text-2xl font-light max-w-prose">The Next Generation Music Creation App</h2>
  <button class="transition-colors mt-4 rounded-full py-32 px-64 text-8xl font-semibold bg-sky-600 hover:bg-sky-700 active:bg-sky-800">Get Started</button>
  <ThemeSelector slot="footer" class="ml-auto" />
</MainLayout>