---
import MainLayout from '@/layouts/MainLayout.astro'
import Header from '@/components/astro/Header.astro'
---

<MainLayout>
  <Header slot="header" />
  <h1 class="text-5xl font-semibold">Melodius</h1>
</MainLayout>
