---
import Header from "@/components/astro/Header.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Melodius" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} | Melodius` : "Melodius"}</title>
    <script
      src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.23.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.5.0"
    ></script>
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (!window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "light";
        }
        return "dark";
      })();

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }

      window.localStorage.setItem("theme", theme);
    </script>
  </head>
  <body
    class="transition-colors duration-500 dark:bg-[#030014] dark:text-white"
  >
    <slot name="header" />
    <main class="flex flex-col justify-center items-center gap-8">
      <slot />
    </main>
    <footer class="w-full p-6 fixed bottom-0 flex justify-center items-center">
      <slot name="footer" />
    </footer>
  </body>
</html>
